﻿@model IEnumerable<string>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach(var fileName in Model)
{
	@Html.ActionLink( 
		linkText: fileName, 
		actionName: "Download", 
		routeValues: new { link = fileName })
}

