﻿@using Phonebook.ViewModels
@model IEnumerable<Phonebook.ViewModels.PersonnelViewModel>

@{
	ViewBag.Title = "List";
	var search = ViewData[nameof(SearchPersonnel)] as SearchPersonnel;
}

<h2>List</h2>

@Html.Partial("_SearchForm", search)
<table class="table phonebook--datatable">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Photo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FirstName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LastName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Phones)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Department)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>

		@foreach (var item in Model)
		{
		<tr>
			<td>
				@if (item.Photo == null)
				{
					<text>@Html.ActionLink("Upload Photo", "Upload", "Photo")</text>
				}
				else
				{
					<img src="@item.Photo" width="100" />
				}
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.FirstName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.LastName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Phones)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Email)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Title)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Department)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
				@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
				@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
			</td>
		</tr>
		}
	</tbody>
</table>
