﻿@using Microsoft.Owin.Security

@{
	ViewBag.Title = "Login";
}

<h2>Login</h2>
@{
	var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
}

@using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl })) {
	@Html.AntiForgeryToken()
	<div id="socialLoginList">
		<p>
			@foreach (AuthenticationDescription p in loginProviders)
			{
				<button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
			}
		</p>
	</div>
}