﻿@model IEnumerable<String>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>

<h2>User Names</h2>
<ul>
	@foreach (var item in Model)
	{
		<li>@item</li>
	}
</ul>
