﻿@using Phonebook.Models

@{
var personnels = ViewData["Personnels"] as IEnumerable<Personnel>;
var personnelItems = from p in personnels
						select new SelectListItem
						{
							Value = p.Id.ToString(),
							Text = $"{p.FirstName} {p.LastName} ({p.Title.Name})"
						};
}

@using (Html.BeginForm(
	actionName: "Upload",
	controllerName: "Photo",
	method: FormMethod.Post,
	htmlAttributes: new {
		enctype = "multipart/form-data",
		style = "width: 50rem;padding: 2rem; margin: 1rem; border: 1px solid black; border-radius: 6px;"
	}))
{
	<div class="form-group">
		@Html.Label("Personel", htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownList("personnelId", personnelItems, new { htmlAttributes = new { @class = "form-control" } })
		</div>
	</div>
	<div class="form-group">
		@Html.Label("Image", htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			<input type="file" name="file" id="file" />
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Upload Photo" class="btn btn-default" />
		</div>
	</div>
	<div class="clearfix"></div>
}

